body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Etiqueta padre .contenedor*/
header .contenedor {
    display: flex; /* Le damos a la etiqueta padre el atributo flexible*/
    justify-content: space-between; /* Para alinear p a la izquierda y nav a la derecha*/
}

/* Etiqueta padre .lista-menu*/

header .lista-menu{
    display: flex; /* Atributo flexible al padre para que li se ordenen horizontal*/

}

header .lista-menu li{
    list-style: none; /* Quitamos puntos de los items*/
    margin-right: 15px;
}

header a{
    text-decoration: none; /* Quitamos subrayado en a de nav*/
}

.contenedor{
    max-width: 1280px; /* Tamañano máximo medida standar*/
    width: 90%; 
    margin: auto; /* Centrar contenido en el 90% de ancho*/
}

header{
    background: 
    linear-gradient(rgba(84,93,220,.8),
    rgba(96,171,245,.8)),
    url(../img/fondo-home.jpg); /* Imagen de fondo del Header*/
    height: 100vh; /* Ocupa todo el viewport*/
    background-size: cover; /* Tamaño de la imagen*/
}
#contenedor-titulo-flex{
    display: flex; /* Atributo flexible al padre para que .contenedor-titulo se centre */
    justify-content: center;
    margin: 18vh auto; /* Arriba y abajo le damos 18vh y a los lados auto para que se centre*/
}

h1{
    font-size: 60px; 
    color: #fff;
    margin: 0;
}

h2{
    font-size: 25px; 
    color: #fff;
}

.contenedor-titulo{
    text-align: center; /* Centrar los dos h y el boton*/
}
.contenedor-titulo a, #sobre-mi a, #blog a, #que-esperas a,
#contacto input[type="submit"]{ /*Botones de header y sobre mi*/
    font-size: 14px;
    color: #fff;
    background: #5cb8ff;
    padding: 14px 24px;
    display: inline-block; /* Para que tome propiedades tambien de block para darle un tamaño definido*/
    width: 128px;
    text-decoration: none; /* Quitamos subrayado*/
}

p.logo{
    color: #fff;
}

nav ul li a{
    color: #fff;
}


/* **********************************SECCION DE SOBRE MI********************************** */
h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal; /* Peso de la fuente*/
}

.contenedor-sobremi{
    display: flex; /* Atributo flexible al padre para que .texto .computadoras se alinien uno al lado del otro */
    justify-content: space-around; /* ESpacio entre la seccion de la imagen y texto */
} 

#sobre-mi .texto{
    width: 42%;
}

/* **********************************SECCION DE SERVICIOS********************************** */
.contenedor-servicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
}

.servicio{
    width: 24%;
    padding: 34px 30px 30px 30px;
    border-radius: 10px;
    margin-bottom: 40px;

    position: relative;
}

.servicio h4{
    font-size: 30px; /* Tamaño y margen del titulo del servicio*/
    margin: 0;
}

.servicio p{
    margin-bottom: 20px;
    height: 194px;
}

.contenedor-servicios .violeta{
    background-image: linear-gradient(to top, #5055df, #6d68f3); /* to top para que el gradiente valla de abajo hacia arriba*/
    box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37); /* SOmbrea de la caje */
}

.contenedor-servicios .celeste{
    background-image: linear-gradient(to top, #40a8f9, #5cb8ff);
    box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3);

    /*  
    box-shadow: Ancho 0  altura 12  radio de la sombra 30 radio de propagación 0 color en RGBA
    */
}

.ondas{
    position: absolute;
    left: 0;
    bottom: 0;
}

.icono{
    float: right;
}


/* SECCION DE MIS TRABAJOS*/

button.owl-prev, button.owl-next {
    font-size: 40px !important;
}

span{
    color: #71bcfa;
}


/*Estilo añadido por mi*/
.name-project{
    text-align: center;
}


/* SECCION DE ¿POR QUE TRABAJAR CONMIGO?*/
.contenedor-trabajar{
    display: flex;
    flex-wrap: wrap; /* Si ve que los elementos ocupan mucho espacio automaticamente  los baja*/
    justify-content: space-around;
}

#por-que-trabajar .item{
    width: 28%;
    text-align: center;
}

#por-que-trabajar ul li{
    list-style: none;
}

/*Obtenemos directamente la hijo número dos del elemento li  (Titulo)*/
#por-que-trabajar ul li:nth-child(2){
    font-weight: bold;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
}

/*Obtenemos directamente la hijo número dos del elemento li (Parrafo) */
#por-que-trabajar ul li:nth-child(3){
    line-height: 30px;
}


/* SECCION DE BLOG*/
#blog{
    background: #F9FAFC;
}

#blog .contenedor-publicaciones {
    display: flex;
    justify-content: space-around;

}

#blog .publicacion{
    width: 30%;
    box-shadow: 1px 1px 14px #ccc; /* Sombra de la caja de blog*/
}

#blog img{
    width: 100%; /* La imagen abarca todo el ancho de padre contenido*/
}

#blog .contenido{
    background-color: #fff;
    padding: 20px;
}

#blog h4{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

#blog p{
    /* Estilos para el parrafo*/
    color: #5A6169; 
    font-size: 16px;
}

#blog a{
    /* Estilos especificos para los botnes de blog*/
    width: 65px;
    text-align: center;
}

/* SECCION DE QUE ESPERAS*/
#que-esperas{
    background: linear-gradient(rgba(84,93,220,.94), rgba(96,171,245,.9));
    text-align: center;
    padding: 50px 0;
    margin-top: 40px;
}

#que-esperas h3{
    font-size: 24px;
    color: #fff;
}

/* SECCION DE CONTACTO*/

#contacto form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

input[type="text"], input[type="email"]{ /* Este estilo toma todos los input de tipo text y email*/
    width: 48%;
    margin-bottom: 15px;
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    font-size: 17px;
}

textarea {
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;  
    font-size: 17px;
    margin-bottom: 40px;
    width: 100%; 
}


#contacto input[type="submit"]{
    width: 160px;
    margin: auto;
}

.contacto-info{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;

}


.contacto-info img{
    width: 28px;
    vertical-align: middle; /* Alinear de manera vertical imagen a mismo nivel de texto*/
    margin-right: 10px;
}


/* SECCION DE PIE DE PÁGINA*/
footer{
    background: #2f2f2f;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px;
}

footer .contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column; /* Organizar elementos en forma de columna*/
}

footer img{
    margin: 0 40px;
    /* Estilos para animación*/
    transform: rotate(0);
    transition: 0.4s;
}
/* Animación*/
footer img:hover{
    transform: rotate(360deg);
    transition: 0.4s;
}


footer p{
    color: #fff;
    margin-top: 40px;
}